<sng-page>
    <sng-header>
        <div class="font-normal h3 pull-left m-t-xs col-sm-6">
            <i class="fa fa-list-ul"></i>
            <span> Gerenciamento de menus</span>
        </div>
    </sng-header>

    <sng-content>
        <div class="row wrapper-md">
            <aside class="col-md-4">

                <div class="panel panel-default">

                    <div class="panel-heading cursor">
                        <i class="fa fa-cubes"></i> Aplicações
                        <i class="pull-right fa"></i>
                        <button class="btn btn-default btn-sm fa fa-plus pull-right" acl="f-menus-criar_aplicacao" ng-click="abreModalCriarAplicacao()"></button>
                    </div>
                    <div class="panel-heading cursor">
                        <input type="text" class="form-control" ng-model="query" placeholder="Filtrar...">
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div  class="list-group no-radius alt">
                                <div ng-repeat="p in listaAplicacao | filter:query as results">
                                    <div class="list-group-item cursor" ng-click="onSelectAplicacao(p)" ng-class="{'bg-info lt': aplicacao.id == p.id}">
                                        {{p.aplicacao}}
                                    </div>
                                </div>
                                <div class="wrapper-xs text-center" ng-if="results.length == 0">
                                    <h4><i class="fa fa-search-minus"></i> Nenhum registro encontrado</h4>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>

            <section class="col-md-8">

                <div class="panel panel-default">

                    <div class="panel-heading" ng-if="permissoes.length != 0">
                        <span class="font-normal h4">
                            <i class="fa fa-puzzle-piece"></i>
                            <span ng-if="!aplicacao"> Módulos</span>
                            <span ng-if="aplicacao"> Módulos em {{aplicacao.aplicacao}}</span>
                        </span>
                        <div class="btn-group dropdown pull-right" ng-if="aplicacao">
                            <button class="btn btn-default btn-xs" data-toggle="dropdown">Ações <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li acl="f-menus-criar_modulo"><a ng-click="abreModalCriarModulo()"><i class="fa fa-plus-circle"></i>&nbsp;Novo módulo</a></li>
                                <li class=divider acl="f-menus-criar_modulo"></li>
                                <li acl="f-menus-editar_aplicacao"><a ng-click="abreModalEditarAplicacao()"><i class="fa fa-edit"></i>&nbsp;Editar aplicação</a></li>
                                <li class=divider acl="f-menus-editar_aplicacao"></li>
                                <li acl="f-menus-excluir_aplicacao"><a ng-click="removerAplicacao()"><i class="fa fa-trash"></i>&nbsp;Excluir aplicação</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <div>
                            <div class="panel-body">
                                <md-table-container>
                                    <table md-table>
                                        <thead md-head>
                                        <tr md-row>
                                            <th class="col-sm-1"></th>
                                            <th md-column class="col-sm-3"><span>Módulo</span></th>
                                            <th md-column class="col-sm-3"><span>State</span></th>
                                            <th md-column class="col-sm-1"><span>Ordem</span></th>
                                            <th md-column class="col-sm-1"><span>Ativo</span></th>
                                            <th md-column class="col-sm-3"><span></span></th>
                                        </tr>
                                        </thead>
                                        <tbody md-body>
                                        <tr md-row ng-repeat="record in listaModulo">
                                            <td md-cell>
                                                <i class="{{record.icon_cls}}"></i>
                                            </td>
                                            <td md-cell>
                                                {{record.modulo}}
                                            </td>
                                            <td md-cell>{{record.ui_sref}}</td>
                                            <td md-cell>{{record.ordem}}</td>
                                            <td md-cell>{{renderAtivo(record.ativo)}}</td>
                                            <td md-cell style="width: 150px;">
                                                <a class="pull-right" acl="f-menus-excluir_modulo" ng-click="removerModulo(record.id)"><i class="fa fa-trash"></i></a>
                                                <a class="pull-right" acl="f-menus-editar_modulo" ng-click="abreModalEditarModulo(record)"><i class="cursor fa fa-pencil m-r-xs"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody md-body ng-if="listaModulo.length == 0">
                                        <tr md-row>
                                            <td colspan="6" md-cell style="text-align: center;">
                                                <h4><i class="fa fa-frown-o"></i> Desculpe, nenhum registro foi encontrado.</h4>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </sng-content>
</sng-page>