<sng-page class="panel-default">
    <div class="modal-header panel-heading p-t-xs p-b-xs">
        <h4>
            <i class="fa fa-filter"></i>&nbsp;Filtrar resultados
            <i class="fa fa-times pull-right" ng-click="close()"></i>
        </h4>

    </div>
    <sng-content>
        <div class="row wrapper-md">
            <div class="form-group col-sm-12">
                <label class="control-label label-sm" for="nome">Nome </label>
                <div class="input-group">
                    <input class="form-control" type="text" autofocus placeholder="Nome contém" ng-model="filter.nome" id="nome" name="nome">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-icon" type="button" ng-click="clear('nome')" ng-disabled="!filter.nome.length"><i class="fa fa-times"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label label-sm" for="nome">Login </label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Login contém" ng-model="filter.login" id="login" name="login">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-icon" type="button" ng-click="clear('login')" ng-disabled="!filter.login.length"><i class="fa fa-times"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label label-sm" for="nome">Perfil </label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Perfil contém" ng-model="filter.perfil" id="perfil" name="perfil">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-icon" type="button" ng-click="clear('perfil')" ng-disabled="!filter.perfil.length"><i class="fa fa-times"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </sng-content>
    <div class="modal-footer p-t-none p-b-sm">
        <button class="btn m-t-sm pull-left text-info" ng-click="clear()">Limpar filtro</button>
        <button class="btn m-t-sm btn-info pull-right" type="submit" ng-click="apply()"><i class="fa fa-check pull-left"></i> Aplicar filtro</button>
    </div>
</sng-page>

