<div class="panel-body">
    <form name="forms.cadastro" novalidate autocomplete="off">
        <div class="row">
            <div class="col-sm-2 btn-upload" style="height: 150px;"
                 upload-button
                 ng-if="viewState != 'show'"
                 url="./sessao/usuario/upload"
                 on-complete="onAvatarUpload(response)"
            >
                <img ng-if="record.avatar" ng-src="{{record.avatar}}" style="width: 140px;height: 140px;" class="img-thumbnail">
                <img
                        ng-if="!record.avatar"
                        holder
                        data-src="holder.js/140x140?text=Trocar foto"
                        class="img-thumbnail"
                >
            </div>
            <div class="col-sm-2" style="height: 150px;" ng-if="viewState == 'show'">
                <img ng-if="record.avatar" ng-src="{{record.avatar}}" style="width: 140px;height: 140px;" class="img-thumbnail">
                <img
                        ng-if="!record.avatar"
                        holder
                        data-src="holder.js/140x140?text=Trocar foto"
                        class="img-thumbnail"
                >
            </div>

            <div class="col-sm-10">
                <div class="form-group col-sm-2">
                    <label class="control-label label-sm" for="id">ID </label>
                    <input class="form-control" type="text" ng-disabled="true" id="id" name="id" ng-model="record.id">
                </div>

                <div class="form-group col-sm-10 required">
                    <label class="control-label label-sm" for="nome">Nome</label>
                    <input class="form-control" type="text" autofocus placeholder="Nome" ng-disabled="viewState == 'show'" id="nome" name="nome" ng-model="record.nome" ng-maxlength="255" required>
                    <ng-messages for="forms.cadastro.nome.$error" role="alert" ng-if="isSubmited || forms.cadastro.nome.$touched">
                        <ng-message when="required" class="label label-danger">Nome é obrigatório</ng-message>
                        <ng-message when="maxlength" class="label label-danger">O tamanho é 255</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group col-sm-4 required">
                    <label class="control-label label-sm" for="perfil">Perfil</label>
                    <select2 class="form-control no-padder no-border"  required ng-disabled="viewState == 'show'" id="perfil" name="perfil" ng-model="record.perfil_id" data-placeholder-text-single="'Selecione um perfil'" s2-options="perfil.id as perfil.perfil for perfil in listaPerfil">
                    </select2>
                    <ng-messages for="forms.cadastro.perfil.$error" role="alert" ng-if="isSubmited || forms.cadastro.perfil.$touched">
                        <ng-message when="required" class="label label-danger">Perfil é obrigatório</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group col-sm-4 required">
                    <label class="control-label label-sm" for="login" >Login</label>
                    <input class="form-control" type="text" placeholder="Longin de acesso" ng-disabled="viewState == 'show'" id="login" name="login" ng-model="record.login" ng-maxlength="255" required>
                    <ng-messages for="forms.cadastro.login.$error" role="alert" ng-if="isSubmited || forms.cadastro.login.$touched">
                        <ng-message when="required" class="label label-danger">Login é obrigatório</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group col-sm-4 required">
                    <label class="control-label label-sm" for="login" >Senha</label>
                    <input class="form-control" type="password" placeholder="Senha de acesso" ng-disabled="viewState == 'show'" id="senha" name="senha" ng-model="record.senha" required>
                    <ng-messages for="forms.cadastro.senha.$error" role="alert" ng-if="isSubmited || forms.cadastro.senha.$touched">
                        <ng-message when="required" class="label label-danger">Senha é obrigatório</ng-message>
                    </ng-messages>
                </div>
            </div>
        </div>

        <div class="line m-l-xs line-dashed b-b line-lg pull-in"></div>
        <div class="row">
            <div class="form-group col-sm-4 m-t-n">
                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" ng-disabled="viewState == 'show'" ng-model="record.ativo" ng-true-value="'1'" ng-false-value="'0'">
                        <i></i>
                        Usuário está ativo
                    </label>
                </div>
            </div>
        </div>

    </form>
</div>





