<div ng-controller="builder.BackServicoListCtrl">
    <header class="panel-heading p-b">
        <span class="h4">
            <i class="fa fa-cogs"></i>&nbsp;Serviços ({{results.length}})
        </span>
        <button class="btn btn-addon btn-danger pull-right btn-sm" acl="c-builder-servico_backend" ng-click="abreModalServico()">
            <i class="fa fa-plus"></i> Novo serviço
        </button>
    </header>
    <div class="panel-body">
        <div class="panel panel-default">
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <md-icon>search</md-icon>
                    <form flex name="filter.form">
                        <input type="text" ng-model="Builder.query.filter" ng-model-options="filter.options" placeholder="filtrar">
                    </form>
                    <md-button class="md-icon-button" ng-click="Builder.query.filter = ''">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column class="col-md-4"><span>Pacote</span></th>
                        <th md-column class="col-md-8"><span>Serviço</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="servico in servicos | filter:Builder.query.filter as results">
                        <td md-cell>
                            {{servico.pacote}}
                        </td>
                        <td md-cell>
                            {{servico.name}}
                        </td>
                    </tr>
                    </tbody>
                    <tbody md-body ng-if="results.length == 0">
                    <tr md-row>
                        <td colspan="6" md-cell style="text-align: center;">
                            <h4><i class="fa fa-cogs"></i><br> Desculpe, nenhum serviço foi encontrado.</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </div>
</div>