<div ng-controller="builder.PacoteListCtrl">
<header class="panel-heading p-b">
    <span class="h4">
        <i class="fa fa-folder-open"></i>&nbsp; Pacotes
    </span>
    <button class="btn btn-addon btn-danger pull-right btn-sm " acl="c-builder-pacote" ng-click="abreModalPacote()">
        <i class="fa fa-plus"></i> Novo pacote
    </button>
</header>
<div class="panel-body">
    <div class="panel panel-default">
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column class="col-md-9"><span>Pacote</span></th>
                    <th md-column><span></span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="pacote in pacotes">
                    <td md-cell>
                        {{pacote.name}}
                    </td>
                    <td md-cell >
                        <button class="btn btn-xs btn-default pull-right" acl="c-builder-pacote" ng-if="!pacote.active && pacote.name != 'Sessao' && pacote.name != 'Builder'" ng-click="enablePacote(pacote.name)">Ativar</button>
                        <button class="btn btn-xs btn-default pull-right" acl="c-builder-pacote" ng-if="pacote.active && pacote.name != 'Sessao' && pacote.name != 'Builder'" ng-click="disablePacote(pacote.name)">Desativar</button>
                    </td>
                </tr>
                </tbody>
                <tbody md-body ng-if="pacotes.length == 0">
                <tr md-row>
                    <td colspan="6" md-cell style="text-align: center;">
                        <h4><i class="fa fa-folder-open"></i><br> Desculpe, nenhum pacote foi encontrado.</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
</div>